<!--
created by 장지욱 
modified by 최고운 12.3 footer추가, nav수정, font설정
modified by 최고운 nav의 좌석예약 링크 수정
--> 


<html>

<head>
    <title>도서관 시스템</title>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='jquery.js') }}" > </script>
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet">
    {% block head %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div id="body-wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">도서관 시스템</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {% if not session['login'] %}
                            <a class="nav-link" href="/login">로그인</a>
                            <a class="nav-link" href="/join">회원가입</a>
                            
                            {% else %}
                            
                            <a class="nav-link" href="/logout">로그아웃</a>
                            <a class="nav-link" href="/post">게시판</a>
                            <a class="nav-link" href="/reserve">좌석예약</a>
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="body-content">
            <main>
                {% block content %}
                {% endblock %}
            </main>    
        </div>
    <footer>
            <ul>
                <li>Software Engineering Group 9</li>
            </ul>
    </footer>
    </div>
</body>
{% block style %}
{% endblock %}
</html>