<!--
    created by 최고운 11.16 html,css 틀 작성(미완)
    modified by 최고운 css 수정, 테이블 변경, 테이블 내 삭제 버튼 추가, 현재 시간 출력, 버튼 수정
    modified by 신정현 예약삭제 ajax  추가
    modified by 최고운 테이블 css수정
-->

{% extends 'base.html' %}
{% block scripts %}
<script>
    function deleteReserve(reservationID, seatNum, user_id) {
      $.ajax({
          url: '/main',
          type: 'DELETE',
          data: {
              'reservationID' : reservationID,
              'seatNum' : seatNum,
              'user_id' : user_id
          },
          success: function (res) {
              if (res['result'] == 'success') {
                  alert("삭제 성공!")
                  window.location.reload()
              } else {
                  alert("삭제 실패!")
                }
            }
        })
    }

</script>
{% endblock %}

{% block content %}
<h1>나의 예약 현황</h1>
<br>
<p id="clock"></p>
<script> /*현재 시간 출력*/
    var Target = document.getElementById("clock");
    function clock() {
        var time = new Date();

        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        Target.innerText = '현재 시간 : ' +
        `${month + 1}월 ${date}일 ${week[day]}요일 ` +
        `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
            
    }
    clock();
    setInterval(clock, 1000); // 1초마다 실행
</script>
<div>
    <table  class="table-primary">
        <thead>
        <tr>
            <td scope="col">좌석 번호</td>
            <td scope="col">예약자</td>
            <td scope="col">좌석 이용 시작 시간</td>
            <td scope="col">좌석 이용 종료 시간</td>
            <td scope="col">예약 삭제</td>
        </tr>
        </thead>
        <tbody>
        <!--예약 내역 받아오기-->
        {% for list in reserve_list %}
        <tr>
            <td id="seatNum" scope="row">{{ list.seatNum }}</td>
            <td id="user_ID" scope="row">{{ list.user_id }}</td>
            <td id="starttime" scope="row">{{ list.starttime }}</td>
            <td id="finishtime" scope="row">{{ list.finishtime }}</td>
            <td scope="row"><button id="del" class="btn btn-primary" onclick="deleteReserve('{{list.reservationID}}', '{{list.seatNum}}', '{{list.user_id}}')">삭제</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div id="bt">
    <a class="btn btn-primary"  href="/reserve" >좌석 예약하기</a>
</div>


{% endblock %}
{% block style %}
<style>
    main{
        width:720px;
    }
    h1{
        text-align: center;
        font-size:30px;
        margin-bottom:20px;
    }
    .table-primary{
        margin:auto;
        margin-top:0px;
        margin-bottom: 0px;
        width:720px;
        border-radius: 20px;
        border-collapse: collapse;
        border-style: hidden;
        box-shadow:0 0 0 1px rgba(0, 0, 0, 0.082);
    }
    tr{
        text-align: center;
    }
    thead{
        height:60px;  
    }
    tbody tr{
        border-top:solid 1px rgba(0, 0, 0, 0.082);
    }

    tbody{
        height:80px;
    }
    tbody td{
        height: 60px;
    }

    .card{
        margin:auto;
        border-radius: 20px;
        width:720px;
    }
    #del, #chn{
        background-color: #d0d1d1;
        border:none;
    }
    #bt{
        text-align: center;
        margin-bottom: 110px;
    }
    #bt a{
        margin-top:15px;
        width:700px;
        height: 50px;
        padding: 0;
        line-height: 50px;
        background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
        border:none;
        border-radius: 15px;
    }

</style>
{% endblock %}
